<% if @user.errors.any? %>
  <h4 style="color:red">
  The following errors prevent the user to be created
      <% @user.errors.full_messages.each do |msg| %>
        <li style="color:red">
          <%= msg %>
        </li>
      <% end %>
  </h4>

<% end %>

<%= form_with(model: @user, data: { turbo: false }, local: true) do |f| %>

    <p>
      <%= f.label :username %>
      <br/>
      <%= f.text_field :username, placeholder: "Enter a username" %>
    </p>

    <p>
      <%= f.label :email %>
      <br/>
      <%= f.email_field :email, placeholder: "Example@example.com" %>
    </p>

    <p>
      <%= f.label :password %>
      <br/>
      <%= f.password_field :password, placeholder: "Enter your password" %>
    </p>

    <p>
      <%= f.submit %>
    </p>
    
<% end %>